@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
#cookie {
  max-width: 500px;
  width: 100%;
}
*{
  user-select: none;
}
body{
  background-image: url(../img/background.webp);
  background-size: cover;
  font-family: 'Caveat', cursive;
}
p{
  color:  black;
  background-color: #00FFFF;
  padding: 1.2em;
  text-align: center;
  font-size: 1.8em;
  border-radius: 5px;
  border:#447CD1 5px solid;

}
.telo{
  margin: auto;
  width: 400px;
  margin-top: 50px;
}
#upgradeClickButton{
  padding: 1.5em;
  font-size: large;
  background-color: #6294e0;
  border: #3b61a7 5px solid;
  width: 100%;
  margin-bottom: 1.5em;
}
#upgradeClickButtonWrapper{
  display: flex;
  cursor: pointer;
}
#imgUpgradeClickButtonWrapper{
  max-width: 120px;
  max-height: 86px;
  background-color: white;
}
#upgradeClickButtonWrapper:hover{
  transform: scale(1.2);
}
#upgradeClickButton{
  cursor: pointer;
}



#upgradeAutoClickButtonWrapper:hover{
  transform: scale(1.2);
}
#upgradeAutoClickButton{
  width: 100%;
  padding: 1.5em;
  font-size: large;
  background-color: #6294e0;
  border:#3b61a7 5px solid;
  cursor: pointer;
}
#upgradeAutoClickButtonWrapper{
  display: flex;
  cursor: pointer;
}
#imgUpgradeAutoClickButtonWrapper{
  max-width: 120px;
  max-height: 120px;
  background-color: white;
}
#text{
  color: white;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
#cookie:hover{
  cursor: url(../img/cursor.png), auto;
  transform: scale(1.1);
}
